<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="4k-video-downloader" version="4.12.5" />
  <package id="7zip.install" version="19.0" />
  <package id="autohotkey" version="1.1.33.02" />
  <package id="autohotkey.install" version="1.1.33.02" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.17.2" />
  <package id="discord" version="0.0.306.20200621" />
  <package id="discord.install" version="0.0.306.20200621" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7" version="4.7.2053.20190226" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="dropbox" version="101.4.434" />
  <package id="epicgameslauncher" version="1.1.257.0" />
  <package id="git.install" version="2.27.0" />
  <package id="github-desktop" version="2.5.3" />
  <package id="GoogleChrome" version="84.0.4147.89" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="keybase" version="5.5.0" />
  <package id="leagueoflegends" version="1.0.0.20171207" />
  <package id="logitechgaming" version="9.02.65" />
  <package id="slack" version="4.7.0" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="uplay" version="112.2.8857.0" />
  <package id="vcredist140" version="14.26.28720.3" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vlc" version="3.0.11" />
  <package id="zoom" version="5.1.28656.0709" />
</packages>