<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.noah.newsboat</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/newsboat -x reload</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>1800</integer>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardErrorPath</key>
  <string>/tmp/newsboat.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/newsboat.out</string>
</dict>
</plist>
